:root {
    --primary-color: #e50914;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arial', sans-serif;
    -webkit-front-smoothing: antialiased;
    background: #000;
    color: #999;
}

h1, h2, h3, h4 {
    color: #fff;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 110vh;
    position: relative;
    z-index: 1;
}

.showcase::after {
    width: 100%;
    height: 110vh;
    content: "";
    position: absolute;
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/8502631a-7c16-4132-8656-d741da3b3d3e/ed706838-18f7-4bf8-bc21-e2494dc75e70/KR-ko-20200727-popsignuptwoweeks-perspective_alpha_website_small.jpg') no-repeat center center/cover;
    opacity: 0.4;
    top: 0;
    z-index: -1;
}

.showcase-top {
    position: relative;
    height: 90px;
}

.showcase-top-netflix {
    width: 170px;
    color: #e50914;
    font-size: 60px;
    position: absolute;
    top: 20%;
    left: 3%;
}

.showcase-top-login {
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    margin-right: 0.5rem;
    outline: none;
    border-radius: 2px;
}

.showcase-content {
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.story-card-tv {
    color: #fff;
    font-size: 27px;
    height: 65vh;
    width: 100%;
    border-top: 8px solid #999;
}

.story-card-contents {
    color: #fff;
    font-size: 27px;
    height: 70vh;
    width: 100%;
    border-top: 8px solid #999;
}

.story-card-device {
    color: #fff;
    font-size: 27px;
    height: 70vh;
    width: 100%;
    border-top: 8px solid #999;
}

.story-card-faq {
    text-align: center;
    color: #fff;
    font-size: 27px;
    height: 110vh;
    width: 100%;
    border-top: 8px solid #999;
}

.button-faq {
    text-align: left;
    font-size: 25px;
    color: #fff;
    background-color: #7f8c8d;
    width: 55%;
    height: 10vh;
    margin: 5px auto 5px auto;
}

.plus {
    text-align: left;
    font-size: 15px;
    color: #fff;
    height: 70vh;
    width: 100%;
    border-top: 8px solid #999;
}